.step-form {
  &__wrapper {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    min-height: 300px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border: 4px solid #039BE5;
    border-radius: 30px;
  }

  &__steps {
    display: flex;
  }

  &__stage {
    position: relative;
    display: flex;
    width: 50%;
    
    &--badge {
      position: relative;
      z-index: 10;
      color: #fff;
      font: {
        size: 18px;
        weight: 500;
      }
      text-align: center;
      width: 100px;
      min-width: 100px;
      padding: 10px;
      background-color: #555;
      border-radius: 10px;
    }

    &.login {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        height: 1px;
        width: 100%;
        border: 1px dashed #555;
      }
    }
    
    &.register {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        height: 1px;
        width: 100%;
        border: 1px dashed #555;
      }
    }

    &.active {
      .step-form__stage--badge {
        background-color: #039BE5;
      }

      &::after {
        border: 1px dashed #039BE5;
      }
    }
  }
}

