<div class="step-form__wrapper">
  <div class="px-5 mb-5 step-form__inner">
    <div class="step-form__steps mb-5">
      <div class="step-form__stage login" [class.active]="step == 1">
        <div class="step-form__stage--badge mr-auto">
          Login
        </div>
      </div>
      <div class="step-form__stage register" [class.active]="step == 2">
        <div class="step-form__stage--badge ml-auto">
          Register
        </div>
      </div>
    </div>

    <form [formGroup]="loginForm" class="step__form" (submit)="login()" *ngIf="step == 1">
      <div class="row">
        <!-- <div class="col-12">
          <div class="pb-2 mb-4">
            <h3 class="my-0 mb-4 text-center c-dark">
              Login
            </h3>
          </div>
        </div> -->

        <div class="col-lg-6">
          <div class="mb-4">
            <label class="">
              Email
            </label>
            <input type="email" placeholder="Email" class="form-control 
              step__input" name="email" formControlName="email">
            <div *ngIf="submittedLogin && formDataLogin.email.errors" class="errors">
              <p *ngIf="formDataLogin.email.errors.required">Email is required.</p>
              <p *ngIf="!formDataLogin.email.errors.required && formDataLogin.email.errors">
                Please enter valid email address.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="mb-4">
            <label class="">
              Password
            </label>
            <input type="password" placeholder="Password" class="form-control 
                      step__input" name="password" formControlName="password">
            <div *ngIf="submittedLogin && formDataLogin.password.errors" class="errors">
              <p *ngIf="formDataLogin.password.errors.required">Password is required</p>
              <p *ngIf="!formDataLogin.password.errors.required && formDataLogin.password.errors">
                Password must be atleast 8 characters.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 ml-md-auto">
          <div class="text-right mb-5">
            <button type="submit" class="btn btn-primary w-100
              py-2">
              Login
            </button>
          </div>
        </div>
        <div class="col-12">
          <a type="submit" class="btn btn-default text-center w-100" (click)="stepChange(2)">
            Dont have account ? Click to Register
          </a>
        </div>
      </div>
    </form>

    <form [formGroup]="registerForm" class="" (submit)="register()" *ngIf="step == 2">
      <div class="row">
        <!-- <div class="col-12">
          <div class="pb-2 mb-4">
            <h3 class="my-0 mb-4 text-center c-dark">
              Register
            </h3>
          </div>
        </div> -->

        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="mb-4">
            <label class="">
              Email
            </label>
            <input type="email" placeholder="Email" class="form-control 
                step__input" name="email" formControlName="email">
            <div *ngIf="submittedReg && formDataReg.email.errors" class="errors">
              <p *ngIf="formDataReg.email.errors.required">Email is required.</p>
              <p *ngIf="!formDataReg.email.errors.required && formDataReg.email.errors">
                Please enter valid email address.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="mb-4">
            <label class="">
              Password
            </label>
            <input type="password" placeholder="Password" class="form-control 
              step__input" name="password" formControlName="password">
            <div *ngIf="submittedReg && formDataReg.password.errors" class="errors">
              <p *ngIf="formDataReg.password.errors.required">password is required</p>
              <p *ngIf="!formDataReg.password.errors.required && formDataReg.password.errors">
                password must be atleast 8 characters.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 ml-md-auto">
          <div class="text-right mb-5">
            <button type="submit" class="btn btn-primary w-100
              py-2">
              Register
            </button>
          </div>
        </div>
        <div class="col-12">
          <a type="submit" class="btn btn-default text-center w-100" (click)="stepChange(1)">
            Already have an account? Click to Login
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
